<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Search</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/811bf099c0.js"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts.js" defer></script>
  </head>
  <body>
    <!-- Help Link at the top left -->
    <form action="/help">
      <input class="help-page" type="submit" value="Help" />
  </form>
    <h1>YouTube Search</h1>
    <button class="toggle-theme-button" onclick="toggleTheme()">
      Toggle Dark Theme
    </button>
      <input
        type="text"
        name="query"
        id="query"
        placeholder="Enter search term"
        required
      />
  <button onClick="btnClick()">Search</button>
    <div id="progress-bar" class="progress-bar">
      <div class="progress-bar-inner"></div>
    </div>
    <div id="results" class="results"></div>
    <div id="results"></div> <!-- Add this line -->
  </body>
</html>
