body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    color: #d8ff3d;
}
form {
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #d8ff3d;
    border-radius: 5px;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background-color: #d8ff3d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #fff23d;
}
.youtube-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.progress-bar {
    width: 100%;
    background-color: #ff773d;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    display: none;
}
.progress-bar-inner {
    height: 20px;
    width: 0;
    background-color: #d8ff3d;
    transition: width 0.3s ease-in-out;
}
.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}
.dark-theme h1 {
    color: #d8ff3d;
}
.dark-theme input[type="text"] {
    border: 2px solid #d8ff3d;
}
.dark-theme button {
    background-color: #d8ff3d;
    color: #333;
}
.dark-theme button:hover {
    background-color: #fff23d;
}
.dark-theme .progress-bar {
    background-color: #ff773d;
}
.dark-theme .progress-bar-inner {
    background-color: #d8ff3d;
}
.toggle-theme-button {
    position: absolute;
    top: 20px;
    right: 20px;
}