:root {
	/* Theme */
	--primary-color: #d8ff3d;
	--light-color: #d0dffc;
	--dark-color: #283b70;
	--regular-font: 'Inter', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    color: #d8ff3d;
}
form {
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #d8ff3d;
    border-radius: 5px;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background-color: #d8ff3d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #fff23d;
}
.progress-bar {
    width: 100%;
    background-color: #ff773d;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    display: none;
}
.progress-bar-inner {
    height: 20px;
    width: 0;
    background-color: #d8ff3d;
    transition: width 0.3s ease-in-out;
}
.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}
.dark-theme h1 {
    color: #d8ff3d;
}
.dark-theme input[type="text"] {
    border: 2px solid #d8ff3d;
}
.dark-theme button {
    background-color: #d8ff3d;
    color: #333;
}
.dark-theme button:hover {
    background-color: #fff23d;
}
.dark-theme .progress-bar {
    background-color: #ff773d;
}
.dark-theme .progress-bar-inner {
    background-color: #d8ff3d;
}
.toggle-theme-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.list-of-videos{
    display: flex;
    flex-flow: row wrap;
    /* align center */
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.videos{
    height: fit-content;
    width: fit-content;
}

.tag {
	color: var(--light-color);
	font-family: var(--regular-font);
	font-size: 1rem;
	border-radius: 100rem;
	box-shadow: 0 0 0 2px var(--light-color);
	background-color: transparent;
	color: var(--dark-color);
	font-weight: bold;
	transition:
		background-color 250ms ease,
		box-shadow 250ms ease;
}

